/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-oct-2016, 14:10:07
    Author     : usuario
*/
table{
   border-collapse: collapse;
}
td{
    border: solid 0.2em black;   
}
td:nth-child(2n+1) {    
    text-align: right;
}
td:nth-child(2n){
    text-align: left;
}
